# FDM Mini Project

#### Importing Packges

In [84]:
import pandas as pd
import numpy as np
import pickle

#### 1.Data Collection

In [87]:
df = pd.read_csv("Automobile_Loan.csv",low_memory=False)


###### Data set

In [90]:
df.head()

,ID,Client_Income,Car_Owned,Bike_Owned,Active_Loan,House_Own,Child_Count,Credit_Amount,Loan_Annuity,Accompany_Client,...,Client_Permanent_Match_Tag,Client_Contact_Work_Tag,Type_Organization,Score_Source_1,Score_Source_2,Score_Source_3,Social_Circle_Default,Phone_Change,Credit_Bureau,Default
0,12142509,6750,0.0,0.0,1.0,0.0,0.0,61190.55,3416.85,Alone,...,Yes,Yes,Self-employed,0.568066,0.478787,NaN,0.0186,63.0,NaN,0
1,12138936,20250,1.0,0.0,1.0,NaN,0.0,15282,1826.55,Alone,...,Yes,Yes,Government,0.563360,0.215068,NaN,NaN,NaN,NaN,0
2,12181264,18000,0.0,0.0,1.0,0.0,1.0,59527.35,2788.2,Alone,...,Yes,Yes,Self-employed,NaN,0.552795,0.329655054,0.0742,277.0,0.0,0
3,12188929,15750,0.0,0.0,1.0,1.0,0.0,53870.4,2295.45,Alone,...,Yes,Yes,XNA,NaN,0.135182,0.631354537,NaN,1700.0,3.0,0
4,12133385,33750,1.0,0.0,1.0,0.0,2.0,133988.4,3547.35,Alone,...,Yes,Yes,Business Entity Type 3,0.508199,0.301182,0.355638717,0.2021,674.0,1.0,0

#### 2.Feature Engineering

Drop irrelavent columns

In [94]:
columns_to_remove = ["ID","Car_Owned","Bike_Owned","Child_Count","Client_Education","Client_Gender","Client_Housing_Type","Registration_Days",
                     "Own_House_Age","Homephone_Tag","Workphone_Working","Application_Process_Day","Application_Process_Hour","Client_Contact_Work_Tag",
                     "Type_Organization","Score_Source_1","Score_Source_2","Score_Source_3","Phone_Change","Mobile_Tag"]
#Remove the specified columns
df.drop(columns = columns_to_remove, inplace = True)

In [96]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 121856 entries, 0 to 121855
Data columns (total 20 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   Client_Income               118249 non-null  object
 1   Active_Loan                 118221 non-null  float64
 2   House_Own                   118195 non-null  float64
 3   Credit_Amount               118224 non-null  object
 4   Loan_Annuity                117044 non-null  object
 5   Accompany_Client            120110 non-null  object
 6   Client_Income_Type          118155 non-null  object
 7   Client_Marital_Status       118383 non-null  object
 8   Loan_Contract_Type          118205 non-null  object
 9   Population_Region_Relative  116999 non-null  object
 10  Age_Days                    118256 non-null  object
 11  Employed_Days               118207 non-null  object
 12  ID_Days                     115888 non-null  object
 13  Client_Occupation           80421 non-null   object
 14  Client_Family_Members       119446 non-null  float64
 15  Cleint_City_Rating          119447 non-null  float64
 16  Client_Permanent_Match_Tag  121856 non-null  object
 17  Social_Circle_Default       59928 non-null   float64
 18  Credit_Bureau               103316 non-null  float64
 19  Default                     121856 non-null  int64
dtypes: float64(6), int64(1), object(13)
memory usage: 18.6+ MB

In [98]:
df.shape

(121856, 20)

Descriptive statistics of the DataFrame

In [101]:
df.describe()

,Active_Loan,House_Own,Client_Family_Members,Cleint_City_Rating,Social_Circle_Default,Credit_Bureau,Default
count,118221.000000,118195.000000,119446.000000,119447.000000,59928.000000,103316.000000,121856.000000
mean,0.499175,0.692060,2.154329,2.030038,0.117428,1.891082,0.080792
std,0.500001,0.461644,0.912686,0.504407,0.107974,1.861921,0.272517
min,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,2.000000,2.000000,0.057700,0.000000,0.000000
50%,0.000000,1.000000,2.000000,2.000000,0.088700,1.000000,0.000000
75%,1.000000,1.000000,3.000000,2.000000,0.148500,3.000000,0.000000
max,1.000000,1.000000,16.000000,3.000000,1.000000,22.000000,1.000000

Finding the unique values

In [104]:
def uniquevals(col):
    print(f'Unique Values in {col} is : {df[col].unique()}')

for col in df.columns:
    uniquevals(col)
    print("-"*75)

Unique Values in Client_Income is : ['6750' '20250' '18000' ... '13140' '9764.1' '12840.75']
---------------------------------------------------------------------------
Unique Values in Active_Loan is : [ 1.  0. nan]
---------------------------------------------------------------------------
Unique Values in House_Own is : [ 0. nan  1.]
---------------------------------------------------------------------------
Unique Values in Credit_Amount is : ['61190.55' '15282' '59527.35' ... '55224.9' '166316.4' '38522.25']
---------------------------------------------------------------------------
Unique Values in Loan_Annuity is : ['3416.85' '1826.55' '2788.2' ... '5411.7' '2515.5' '2989.35']
---------------------------------------------------------------------------
Unique Values in Accompany_Client is : ['Alone' 'Relative' 'Others' 'Kids' nan 'Partner' '##' 'Group']
---------------------------------------------------------------------------
Unique Values in Client_Income_Type is : ['Commercial' 'Service' 'Retired' 'Govt Job' nan 'Student' 'Unemployed'
 'Maternity leave' 'Businessman']
---------------------------------------------------------------------------
Unique Values in Client_Marital_Status is : ['M' 'W' 'S' nan 'D']
---------------------------------------------------------------------------
Unique Values in Loan_Contract_Type is : ['CL' 'RL' nan]
---------------------------------------------------------------------------
Unique Values in Population_Region_Relative is : ['0.028663' '0.008575' '0.0228' '0.010556' '0.020713' '0.019101'
 '0.016612' '0.009175' '0.006008' '0.001417' '0.018634' '0.00963'
 '0.003541' '0.008068' '0.005144' '0.04622' '0.008866' nan '0.019689'
 '0.032561' '0.006852' '0.020246' '0.035792' '0.010147' '0.018801'
 '0.00733' '0.010276' '0.015221' '0.01452' '0.018209' '0.010006'
 '0.072508' '0.026392' '0.006671' '0.018029' '0.00496' '0.014464'
 '0.007114' '0.00712' '0.0105' '0.008019' '0.031329' '0.008474' '0.010643'
 '0.011657' '0.003069' '0.022625' '0.006305' '0.02461' '0.025164'
 '0.009657' '0.009549' '0.002042' '0.030755' '0.010032' '0.008625'
 '0.010966' '0.011703' '0.00702' '0.006629' '0.005084' '0.009334'
 '0.005313' '0.01885' '0.007274' '0.007305' '0.002134' '0.00823'
 '0.006296' '0.003818' '0.006233' '0.002506' '0.006207' '0.003122'
 '0.005002' '0.003813' '0.001276' '0.004849' '0.001333' '0.000533' '@' '#'
 '0.000938' '100']
---------------------------------------------------------------------------
Unique Values in Age_Days is : ['13957' '14162' '16790' ... '8606' '23981' '24359']
---------------------------------------------------------------------------
Unique Values in Employed_Days is : ['1062' '4129' '5102' ... '14749' '8226' '11796']
---------------------------------------------------------------------------
Unique Values in ID_Days is : ['383' '21' '331' ... '6004' '5994' '6101']
---------------------------------------------------------------------------
Unique Values in Client_Occupation is : ['Sales' nan 'Realty agents' 'Laborers' 'Core' 'Drivers' 'Managers'
 'Accountants' 'High skill tech' 'Cleaning' 'HR' 'Waiters/barmen'
 'Low-skill Laborers' 'Medicine' 'Cooking' 'Private service' 'Security'
 'IT' 'Secretaries']
---------------------------------------------------------------------------
Unique Values in Client_Family_Members is : [ 2.  4.  1.  3. nan  5.  6.  7.  9. 10. 12.  8. 13. 14. 16. 15.]
---------------------------------------------------------------------------
Unique Values in Cleint_City_Rating is : [ 2.  3.  1. nan]
---------------------------------------------------------------------------
Unique Values in Client_Permanent_Match_Tag is : ['Yes' 'No']
---------------------------------------------------------------------------
Unique Values in Social_Circle_Default is : [0.0186    nan 0.0742 ... 0.5433 0.0848 0.1264]
---------------------------------------------------------------------------
Unique Values in Credit_Bureau is : [nan  0.  3.  1.  4.  5.  6.  2.  9. 13.  7.  8. 14. 11. 19. 10. 12. 15.
 17. 21. 22. 16.]
---------------------------------------------------------------------------
Unique Values in Default is : [0 1]
---------------------------------------------------------------------------

#### 3.Data Cleaning

Check for duplicate rows

In [108]:
#checking for duplicates based on all columns
duplicates = df[df.duplicated()]

#print the results
print("Duplicates based on all columns:")
print(duplicates)

Duplicates based on all columns:
       Client_Income  Active_Loan  House_Own Credit_Amount Loan_Annuity  \
1978           11250          1.0        1.0         48564       4167.9
2443           40050          0.0        1.0        130500       3828.6
2845            7560          1.0        0.0       28670.4      1745.55
2984            9000          1.0        0.0         36000       1731.6
3301           31500          0.0        1.0       50992.2       4854.6
...              ...          ...        ...           ...          ...
121829         15750          1.0        0.0       44776.8       3550.5
121831          9000          1.0        1.0         67500       2190.6
121838         31500          0.0        1.0         94230      2767.95
121839         22500          1.0        1.0         80865       3146.4
121850         12150          1.0        0.0         78192      2383.65

       Accompany_Client Client_Income_Type Client_Marital_Status  \
1978              Alone         Commercial                     M
2443              Alone           Govt Job                     M
2845              Alone            Retired                     W
2984              Alone            Retired                     W
3301              Alone            Service                     M
...                 ...                ...                   ...
121829            Alone            Service                     M
121831            Alone            Retired                     M
121838            Alone           Govt Job                     M
121839            Alone            Service                     M
121850            Alone            Retired                     S

       Loan_Contract_Type Population_Region_Relative Age_Days Employed_Days  \
1978                   CL                   0.018634    10063           244
2443                   CL                    0.00702    11298          2927
2845                   CL                    0.04622    21523        365243
2984                   CL                   0.030755    20913        365243
3301                   CL                   0.028663    18019          1340
...                   ...                        ...      ...           ...
121829                 CL                   0.031329     8991           390
121831                 CL                   0.016612    13628        365243
121838                 CL                   0.019101    15686          8412
121839                 CL                   0.016612    11324          3881
121850                 CL                    0.01885    23943        365243

       ID_Days Client_Occupation  Client_Family_Members  Cleint_City_Rating  \
1978      1713              Core                    2.0                 2.0
2443      3670               NaN                    4.0                 2.0
2845      4129               NaN                    1.0                 1.0
2984      4405               NaN                    1.0                 2.0
3301      1539          Laborers                    2.0                 2.0
...        ...               ...                    ...                 ...
121829    1490           Drivers                    2.0                 2.0
121831    3756               NaN                    2.0                 2.0
121838    5675          Managers                    3.0                 2.0
121839    3476          Managers                    3.0                 2.0
121850    4011               NaN                    1.0                 2.0

       Client_Permanent_Match_Tag  Social_Circle_Default  Credit_Bureau  \
1978                          Yes                    NaN            3.0
2443                          Yes                    NaN            1.0
2845                          Yes                 0.0371            3.0
2984                          Yes                    NaN            2.0
3301                          Yes                    NaN            4.0
...                           ...                    ...            ...
121829                        Yes                 0.1536            4.0
121831                        Yes                 0.0165            NaN
121838                        Yes                 0.0825            5.0
121839                        Yes                    NaN            0.0
121850                        Yes                 0.0515            2.0

        Default
1978          0
2443          0
2845          0
2984          0
3301          0
...         ...
121829        1
121831        0
121838        0
121839        0
121850        0

[5528 rows x 20 columns]

Remove dupliacte Values

In [111]:
df = df.drop_duplicates()

#Check if any duplicates remain:
duplicates_exist = df.duplicated().any()
if duplicates_exist:
    print("There are still duplicate rows.")
else:
    print("No duplicates found.")

#Count the number of duplicate rows (if any):
duplicate_count = df.duplicated().sum()
print(f"Number of duplicate rows: {duplicate_count}")

No duplicates found.
Number of duplicate rows: 0

In [113]:
print(df)

       Client_Income  Active_Loan  House_Own Credit_Amount Loan_Annuity  \
0               6750          1.0        0.0      61190.55      3416.85
1              20250          1.0        NaN         15282      1826.55
2              18000          1.0        0.0      59527.35       2788.2
3              15750          1.0        1.0       53870.4      2295.45
4              33750          1.0        0.0      133988.4      3547.35
...              ...          ...        ...           ...          ...
121851         29250          NaN        1.0        107820       3165.3
121852         15750          1.0        0.0        104256      3388.05
121853          8100          0.0        1.0       55107.9      2989.35
121854         38250          0.0        1.0         45000      2719.35
121855          9000          1.0        1.0      62428.95      4201.65

       Accompany_Client Client_Income_Type Client_Marital_Status  \
0                 Alone         Commercial                     M
1                 Alone            Service                     M
2                 Alone            Service                     W
3                 Alone            Retired                     M
4                 Alone         Commercial                     M
...                 ...                ...                   ...
121851         Relative            Service                     M
121852            Alone         Commercial                     M
121853            Alone           Govt Job                     M
121854            Alone            Service                     M
121855            Alone         Commercial                     S

       Loan_Contract_Type Population_Region_Relative Age_Days Employed_Days  \
0                      CL                   0.028663    13957          1062
1                      CL                   0.008575    14162          4129
2                      CL                     0.0228    16790          5102
3                      CL                   0.010556    23195        365243
4                      CL                   0.020713    11366          2977
...                   ...                        ...      ...           ...
121851                 CL                   0.031329    12889          2863
121852                 CL                   0.018209     8648           636
121853                 CL                   0.008068     9152          1623
121854                 CL                   0.028663    10290           847
121855                 CL                   0.018029    14772           498

       ID_Days Client_Occupation  Client_Family_Members  Cleint_City_Rating  \
0          383             Sales                    2.0                 2.0
1           21               NaN                    2.0                 2.0
2          331     Realty agents                    2.0                 2.0
3          775               NaN                    2.0                 3.0
4         4043          Laborers                    4.0                 1.0
...        ...               ...                    ...                 ...
121851    2943          Laborers                    2.0                 2.0
121852    1209             Sales                    2.0                 3.0
121853     353   High skill tech                    3.0                 3.0
121854    2902             Sales                    2.0                 2.0
121855    5025          Managers                    2.0                 3.0

       Client_Permanent_Match_Tag  Social_Circle_Default  Credit_Bureau  \
0                             Yes                 0.0186            NaN
1                             Yes                    NaN            NaN
2                             Yes                 0.0742            0.0
3                             Yes                    NaN            3.0
4                             Yes                 0.2021            1.0
...                           ...                    ...            ...
121851                        Yes                 0.0577            1.0
121852                        Yes                 0.0825            0.0
121853                         No                    NaN            NaN
121854                        Yes                 0.0979            2.0
121855                        Yes                 0.1031            0.0

        Default
0             0
1             0
2             0
3             0
4             0
...         ...
121851        1
121852        0
121853        0
121854        0
121855        0

[116328 rows x 20 columns]

Handling null values

In [116]:
df.isnull().sum()

Client_Income                  3605
Active_Loan                    3629
House_Own                      3657
Credit_Amount                  3627
Loan_Annuity                   4807
Accompany_Client               1718
Client_Income_Type             3692
Client_Marital_Status          3471
Loan_Contract_Type             3642
Population_Region_Relative     4852
Age_Days                       3595
Employed_Days                  3642
ID_Days                        5957
Client_Occupation             39631
Client_Family_Members          2409
Cleint_City_Rating             2407
Client_Permanent_Match_Tag        0
Social_Circle_Default         59107
Credit_Bureau                 17808
Default                           0
dtype: int64

In [118]:
#Remove categorical null values
df = df.dropna()

df.isnull().sum()

Client_Income                 0
Active_Loan                   0
House_Own                     0
Credit_Amount                 0
Loan_Annuity                  0
Accompany_Client              0
Client_Income_Type            0
Client_Marital_Status         0
Loan_Contract_Type            0
Population_Region_Relative    0
Age_Days                      0
Employed_Days                 0
ID_Days                       0
Client_Occupation             0
Client_Family_Members         0
Cleint_City_Rating            0
Client_Permanent_Match_Tag    0
Social_Circle_Default         0
Credit_Bureau                 0
Default                       0
dtype: int64

In [120]:
# Convert multiple columns to numeric
columns_to_convert = ['Client_Income', 'Credit_Amount', 'Loan_Annuity', 'Population_Region_Relative', 'Age_Days', 
                      'Employed_Days', 'ID_Days',]

for col in columns_to_convert:
    df[col] = pd.to_numeric(df[col], errors='coerce')

df.to_csv("your_file_Updated.csv", index=False)  # 'index=False' to avoid saving the index column

Checking categorical and numerical values

In [123]:
print(df.dtypes)

Client_Income                 float64
Active_Loan                   float64
House_Own                     float64
Credit_Amount                 float64
Loan_Annuity                  float64
Accompany_Client               object
Client_Income_Type             object
Client_Marital_Status          object
Loan_Contract_Type             object
Population_Region_Relative    float64
Age_Days                      float64
Employed_Days                 float64
ID_Days                       float64
Client_Occupation              object
Client_Family_Members         float64
Cleint_City_Rating            float64
Client_Permanent_Match_Tag     object
Social_Circle_Default         float64
Credit_Bureau                 float64
Default                         int64
dtype: object

In [125]:
Cat_val = df.select_dtypes(include = ["object"]).columns
Num_val = df.select_dtypes(include = ["int32","int64","float32","float64"]).columns

Cat_val,Num_val

(Index(['Accompany_Client', 'Client_Income_Type', 'Client_Marital_Status',
        'Loan_Contract_Type', 'Client_Occupation',
        'Client_Permanent_Match_Tag'],
       dtype='object'),
 Index(['Client_Income', 'Active_Loan', 'House_Own', 'Credit_Amount',
        'Loan_Annuity', 'Population_Region_Relative', 'Age_Days',
        'Employed_Days', 'ID_Days', 'Client_Family_Members',
        'Cleint_City_Rating', 'Social_Circle_Default', 'Credit_Bureau',
        'Default'],
       dtype='object'))

Count zero in each column

In [128]:
zero_count = (df == 0).sum()
print(zero_count)

Client_Income                     0
Active_Loan                    9942
House_Own                      6236
Credit_Amount                     0
Loan_Annuity                      0
Accompany_Client                  0
Client_Income_Type                0
Client_Marital_Status             0
Loan_Contract_Type                0
Population_Region_Relative        0
Age_Days                          0
Employed_Days                     0
ID_Days                           2
Client_Occupation                 0
Client_Family_Members             0
Cleint_City_Rating                0
Client_Permanent_Match_Tag        0
Social_Circle_Default           110
Credit_Bureau                  5595
Default                       18410
dtype: int64

In [130]:
#Calculate means for the columns
mean_Active_Loan = df["Active_Loan"].mean()
mean_House_Own = df["House_Own"].mean()
mean_Social_Circle_Default = df["Social_Circle_Default"].mean()
mean_Credit_Bureau = df["Credit_Bureau"].mean()

#Replace zeros with means in the specified columns
df["Active_Loan"].replace(0, mean_Active_Loan, inplace=True)
df["House_Own"].replace(0, mean_House_Own, inplace=True)
df["Social_Circle_Default"].replace(0, mean_Social_Circle_Default, inplace=True)
df["Credit_Bureau"].replace(0, mean_Credit_Bureau, inplace=True)

C:\Users\User\AppData\Local\Temp\ipykernel_16244\1271132694.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Active_Loan"].replace(0, mean_Active_Loan, inplace=True)
C:\Users\User\AppData\Local\Temp\ipykernel_16244\1271132694.py:9: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["House_Own"].replace(0, mean_House_Own, inplace=True)
C:\Users\User\AppData\Local\Temp\ipykernel_16244\1271132694.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Social_Circle_Default"].replace(0, mean_Social_Circle_Default, inplace=True)
C:\Users\User\AppData\Local\Temp\ipykernel_16244\1271132694.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Credit_Bureau"].replace(0, mean_Credit_Bureau, inplace=True)

In [132]:
(df==0).sum()

Client_Income                     0
Active_Loan                       0
House_Own                         0
Credit_Amount                     0
Loan_Annuity                      0
Accompany_Client                  0
Client_Income_Type                0
Client_Marital_Status             0
Loan_Contract_Type                0
Population_Region_Relative        0
Age_Days                          0
Employed_Days                     0
ID_Days                           2
Client_Occupation                 0
Client_Family_Members             0
Cleint_City_Rating                0
Client_Permanent_Match_Tag        0
Social_Circle_Default             0
Credit_Bureau                     0
Default                       18410
dtype: int64

Label Encoding the Categorical Varibles

In [135]:
print(df.dtypes)

Client_Income                 float64
Active_Loan                   float64
House_Own                     float64
Credit_Amount                 float64
Loan_Annuity                  float64
Accompany_Client               object
Client_Income_Type             object
Client_Marital_Status          object
Loan_Contract_Type             object
Population_Region_Relative    float64
Age_Days                      float64
Employed_Days                 float64
ID_Days                       float64
Client_Occupation              object
Client_Family_Members         float64
Cleint_City_Rating            float64
Client_Permanent_Match_Tag     object
Social_Circle_Default         float64
Credit_Bureau                 float64
Default                         int64
dtype: object

In [137]:
from sklearn.preprocessing import LabelEncoder


from sklearn.preprocessing import LabelEncoder

label_encoders = {
    "Accompany_Client", "Client_Income_Type", "Client_Marital_Status", 
    "Loan_Contract_Type", "Client_Occupation", "Client_Permanent_Match_Tag"
}

for column in label_encoders:
    le = LabelEncoder()
    df[column] = le.fit_transform(df[column])

#### 5.Data Preprocessing

In [140]:
df

,Client_Income,Active_Loan,House_Own,Credit_Amount,Loan_Annuity,Accompany_Client,Client_Income_Type,Client_Marital_Status,Loan_Contract_Type,Population_Region_Relative,Age_Days,Employed_Days,ID_Days,Client_Occupation,Client_Family_Members,Cleint_City_Rating,Client_Permanent_Match_Tag,Social_Circle_Default,Credit_Bureau,Default
2,18000.0,1.000000,0.686128,59527.35,2788.20,1,2,3,0,0.022800,16790.0,5102.0,331.0,13,2.0,2.0,1,0.0742,1.826404,0
4,33750.0,1.000000,0.686128,133988.40,3547.35,1,0,1,0,0.020713,11366.0,2977.0,4043.0,8,4.0,1.0,1,0.2021,1.000000,0
5,11250.0,1.000000,1.000000,13752.00,653.85,1,2,3,0,0.019101,13881.0,1184.0,3910.0,8,2.0,2.0,1,0.0639,1.826404,0
11,15750.0,0.499597,0.686128,149963.85,4397.85,1,2,1,0,0.020713,11318.0,369.0,2155.0,14,3.0,2.0,1,0.5732,3.000000,0
12,27000.0,0.499597,1.000000,28440.00,1913.40,1,2,2,0,0.018634,10052.0,389.0,2647.0,4,1.0,2.0,1,0.1485,6.000000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
121837,27000.0,1.000000,0.686128,38152.80,1169.55,5,0,1,0,0.003818,15381.0,470.0,2781.0,8,2.0,2.0,1,0.0093,1.000000,0
121844,15750.0,1.000000,1.000000,157500.00,4344.30,1,1,1,0,0.010006,17470.0,6737.0,1017.0,15,2.0,2.0,1,0.2165,1.826404,0
121852,15750.0,1.000000,0.686128,104256.00,3388.05,1,0,1,0,0.018209,8648.0,636.0,1209.0,14,2.0,3.0,1,0.0825,1.826404,0
121854,38250.0,0.499597,1.000000,45000.00,2719.35,1,2,1,0,0.028663,10290.0,847.0,2902.0,14,2.0,2.0,1,0.0979,2.000000,0
121855,9000.0,1.000000,1.000000,62428.95,4201.65,1,0,2,0,0.018029,14772.0,498.0,5025.0,10,2.0,3.0,1,0.1031,1.826404,0

Outlier Detection

In [143]:
df.isna().sum()

Client_Income                 2
Active_Loan                   0
House_Own                     0
Credit_Amount                 1
Loan_Annuity                  1
Accompany_Client              0
Client_Income_Type            0
Client_Marital_Status         0
Loan_Contract_Type            0
Population_Region_Relative    2
Age_Days                      4
Employed_Days                 4
ID_Days                       4
Client_Occupation             0
Client_Family_Members         0
Cleint_City_Rating            0
Client_Permanent_Match_Tag    0
Social_Circle_Default         0
Credit_Bureau                 0
Default                       0
dtype: int64

In [145]:
df = df.dropna()

In [147]:
df.isnull().sum()

Client_Income                 0
Active_Loan                   0
House_Own                     0
Credit_Amount                 0
Loan_Annuity                  0
Accompany_Client              0
Client_Income_Type            0
Client_Marital_Status         0
Loan_Contract_Type            0
Population_Region_Relative    0
Age_Days                      0
Employed_Days                 0
ID_Days                       0
Client_Occupation             0
Client_Family_Members         0
Cleint_City_Rating            0
Client_Permanent_Match_Tag    0
Social_Circle_Default         0
Credit_Bureau                 0
Default                       0
dtype: int64

   Using Zscores

In [150]:
from scipy.stats import zscore

#create a copy of the Dataframe to avoid modifying the original
df_copy= df.copy()

#Calculate Z-scores for each numeric column
numeric_columns = df_copy.select_dtypes(include=[np.number]).columns
df_copy[numeric_columns] = df_copy[numeric_columns].apply(zscore)

#set a threshold for Z-score
threshold = 3

#Identify outliers based on Z-score
outliers = df_copy[(np.abs(df_copy[numeric_columns]) > threshold).any(axis=1)]

print(outliers.count())

Client_Income                 5077
Active_Loan                   5077
House_Own                     5077
Credit_Amount                 5077
Loan_Annuity                  5077
Accompany_Client              5077
Client_Income_Type            5077
Client_Marital_Status         5077
Loan_Contract_Type            5077
Population_Region_Relative    5077
Age_Days                      5077
Employed_Days                 5077
ID_Days                       5077
Client_Occupation             5077
Client_Family_Members         5077
Cleint_City_Rating            5077
Client_Permanent_Match_Tag    5077
Social_Circle_Default         5077
Credit_Bureau                 5077
Default                       5077
dtype: int64

Using IsolationForest

In [153]:
df

,Client_Income,Active_Loan,House_Own,Credit_Amount,Loan_Annuity,Accompany_Client,Client_Income_Type,Client_Marital_Status,Loan_Contract_Type,Population_Region_Relative,Age_Days,Employed_Days,ID_Days,Client_Occupation,Client_Family_Members,Cleint_City_Rating,Client_Permanent_Match_Tag,Social_Circle_Default,Credit_Bureau,Default
2,18000.0,1.000000,0.686128,59527.35,2788.20,1,2,3,0,0.022800,16790.0,5102.0,331.0,13,2.0,2.0,1,0.0742,1.826404,0
4,33750.0,1.000000,0.686128,133988.40,3547.35,1,0,1,0,0.020713,11366.0,2977.0,4043.0,8,4.0,1.0,1,0.2021,1.000000,0
5,11250.0,1.000000,1.000000,13752.00,653.85,1,2,3,0,0.019101,13881.0,1184.0,3910.0,8,2.0,2.0,1,0.0639,1.826404,0
11,15750.0,0.499597,0.686128,149963.85,4397.85,1,2,1,0,0.020713,11318.0,369.0,2155.0,14,3.0,2.0,1,0.5732,3.000000,0
12,27000.0,0.499597,1.000000,28440.00,1913.40,1,2,2,0,0.018634,10052.0,389.0,2647.0,4,1.0,2.0,1,0.1485,6.000000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
121837,27000.0,1.000000,0.686128,38152.80,1169.55,5,0,1,0,0.003818,15381.0,470.0,2781.0,8,2.0,2.0,1,0.0093,1.000000,0
121844,15750.0,1.000000,1.000000,157500.00,4344.30,1,1,1,0,0.010006,17470.0,6737.0,1017.0,15,2.0,2.0,1,0.2165,1.826404,0
121852,15750.0,1.000000,0.686128,104256.00,3388.05,1,0,1,0,0.018209,8648.0,636.0,1209.0,14,2.0,3.0,1,0.0825,1.826404,0
121854,38250.0,0.499597,1.000000,45000.00,2719.35,1,2,1,0,0.028663,10290.0,847.0,2902.0,14,2.0,2.0,1,0.0979,2.000000,0
121855,9000.0,1.000000,1.000000,62428.95,4201.65,1,0,2,0,0.018029,14772.0,498.0,5025.0,10,2.0,3.0,1,0.1031,1.826404,0

In [155]:
# Fit the IsolationForest model
from sklearn.ensemble import IsolationForest

clf = IsolationForest(contamination='auto', random_state=42)
df['outlier'] = clf.fit_predict(df)

# Count the number of outlier rows
outlier_count = df[df['outlier'] == -1].shape[0]
print(f'Number of outlier rows: {outlier_count}')

Number of outlier rows: 3186

C:\Users\User\AppData\Local\Temp\ipykernel_16244\1946631657.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['outlier'] = clf.fit_predict(df)

In [165]:
X = df.drop('Default',axis=1)
Y = df['Default']

In [167]:
Y.value_counts()

Default
0    18401
1     1457
Name: count, dtype: int64

OverSampling the minority class

In [170]:
from imblearn.over_sampling import RandomOverSampler

rs = RandomOverSampler()

X , Y = rs.fit_resample(X,Y)

In [172]:
Y.value_counts()

Default
0    18401
1    18401
Name: count, dtype: int64

In [174]:
import warnings

#suppress warnings within this code block
with warnings.catch_warnings():
    warnings.simplefilter("ignore")

#### 6.ML Modeling with Hyperparameter Tuning

In [177]:
from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline
from sklearn.metrics import accuracy_score
from sklearn.compose import ColumnTransformer
from sklearn import tree
from sklearn.model_selection import GridSearchCV
from sklearn.linear_model import LogisticRegression

Train Test Split

In [180]:
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.2,random_state=42)

Feature scaling

In [183]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [185]:
#Save the fitted scaler to a file using pickle
scaler_filename = 'standard_scaler.pkl'
with open(scaler_filename, 'wb')as scaler_file:
    pickle.dump(sc, scaler_file)

In [ ]:
from sklearn.ensemble import RandomForestClassifier

#Define the model
rf_model = RandomForestClassifier()

#Define hyperparameter for tuning
param_grid = {
    'n_estimators': [100, 200, 300],
    'max_features': ['auto', 'sqrt', 'log2'],
    'max_depth': [None, 10, 20, 30],
    'min_samples_split': [2, 5, 10],
    'min_samples_leaf': [1, 2, 4],
    'bootstrap': [True, False]
}


#perform GridSearchCV
grid_search_rf = GridSearchCV(rf_model, param_grid, cv=5)
grid_search_rf.fit(X_train,Y_train)

#print the best hyperparameter
best_hyperparameters = grid_search_rf.best_params_
print("Best Hyperparameters (Random Forest):",best_hyperparameters)

In [189]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout
from tensorflow.keras.callbacks import EarlyStopping

In [191]:
#create a model
model = Sequential()

In [195]:
#defining input layer, hiiden layers and output layers
model.add(Dense(units=128, activation='relu', input_dim=X_train.shape[1]))
model.add(Dense(units=128, activation='relu'))
model.add(Dropout(0.2)) # prevent overfitting
model.add(Dense(units=64, activation='relu')) 
model.add(Dense(units=3, activation='softmax'))

D:\Anaconda\Lib\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [197]:
#compile the model
model.compile(loss='sparse_categorical_crossentropy',optimizer='adam',metrics=['accuracy'])

In [199]:
# Early stopping
early_stopping = EarlyStopping(monitor='val_loss', patience=5)

In [201]:
#train the model
history = model.fit(X_train, Y_train, epochs=100, batch_size=32, validation_data=(X_test, Y_test),callbacks=[early_stopping])

Epoch 1/100
921/921 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3s 2ms/step - accuracy: 0.6990 - loss: 0.5583 - val_accuracy: 0.7803 - val_loss: 0.4385
Epoch 2/100
921/921 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 1ms/step - accuracy: 0.7815 - loss: 0.4348 - val_accuracy: 0.8089 - val_loss: 0.3865
Epoch 3/100
921/921 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 1ms/step - accuracy: 0.8186 - loss: 0.3717 - val_accuracy: 0.8420 - val_loss: 0.3317
Epoch 4/100
921/921 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 1ms/step - accuracy: 0.8523 - loss: 0.3179 - val_accuracy: 0.8644 - val_loss: 0.3036
Epoch 5/100
921/921 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 1ms/step - accuracy: 0.8757 - loss: 0.2755 - val_accuracy: 0.8946 - val_loss: 0.2514
Epoch 6/100
921/921 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 1ms/step - accuracy: 0.8997 - loss: 0.2370 - val_accuracy: 0.9091 - val_loss: 0.2279
Epoch 7/100
921/921 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 1ms/step - accuracy: 0.9156 - loss: 0.2065 - val_accuracy: 0.9275 - val_loss: 0.1970
Epoch 8/100
921/921 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 2ms/step - accuracy: 0.9202 - loss: 0.1915 - val_accuracy: 0.9318 - val_loss: 0.1920
Epoch 9/100
921/921 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 2ms/step - accuracy: 0.9275 - loss: 0.1783 - val_accuracy: 0.9443 - val_loss: 0.1622
Epoch 10/100
921/921 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 2ms/step - accuracy: 0.9388 - loss: 0.1567 - val_accuracy: 0.9364 - val_loss: 0.1649
Epoch 11/100
921/921 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 2ms/step - accuracy: 0.9462 - loss: 0.1438 - val_accuracy: 0.9519 - val_loss: 0.1456
Epoch 12/100
921/921 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 2ms/step - accuracy: 0.9472 - loss: 0.1369 - val_accuracy: 0.9552 - val_loss: 0.1341
Epoch 13/100
921/921 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 2ms/step - accuracy: 0.9552 - loss: 0.1149 - val_accuracy: 0.9516 - val_loss: 0.1409
Epoch 14/100
921/921 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 2ms/step - accuracy: 0.9578 - loss: 0.1151 - val_accuracy: 0.9605 - val_loss: 0.1182
Epoch 15/100
921/921 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 2ms/step - accuracy: 0.9628 - loss: 0.1017 - val_accuracy: 0.9660 - val_loss: 0.1067
Epoch 16/100
921/921 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 2ms/step - accuracy: 0.9572 - loss: 0.1172 - val_accuracy: 0.9592 - val_loss: 0.1311
Epoch 17/100
921/921 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 2ms/step - accuracy: 0.9643 - loss: 0.0949 - val_accuracy: 0.9692 - val_loss: 0.1054
Epoch 18/100
921/921 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 2ms/step - accuracy: 0.9665 - loss: 0.0927 - val_accuracy: 0.9681 - val_loss: 0.1075
Epoch 19/100
921/921 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 2ms/step - accuracy: 0.9712 - loss: 0.0815 - val_accuracy: 0.9609 - val_loss: 0.1243
Epoch 20/100
921/921 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 2ms/step - accuracy: 0.9694 - loss: 0.0849 - val_accuracy: 0.9610 - val_loss: 0.1245
Epoch 21/100
921/921 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 2ms/step - accuracy: 0.9683 - loss: 0.0849 - val_accuracy: 0.9639 - val_loss: 0.1124
Epoch 22/100
921/921 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 2ms/step - accuracy: 0.9738 - loss: 0.0727 - val_accuracy: 0.9681 - val_loss: 0.1084

In [205]:
#Evaluate the model
loss, accuracy = model.evaluate(X_train, Y_train)
print(f"Validation Accuracy: {accuracy}")
print(f"Validation Loss: {loss}")

921/921 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 886us/step - accuracy: 0.9907 - loss: 0.0339
Validation Accuracy: 0.9908291101455688
Validation Loss: 0.03295540437102318

In [207]:
# For precision, recall, and F1-score
from sklearn.metrics import classification_report

y_pred_prob = model.predict(X_test)
y_pred = np.argmax(y_pred_prob, axis=1)
print(classification_report(Y_test, y_pred))

231/231 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 855us/step
              precision    recall  f1-score   support

           0       1.00      0.94      0.97      3690
           1       0.94      1.00      0.97      3671

    accuracy                           0.97      7361
   macro avg       0.97      0.97      0.97      7361
weighted avg       0.97      0.97      0.97      7361

1.Random Forest Classifier

from sklearn.ensemble import RandomForestClassifier

#Define the model
rf_model = RandomForestClassifier()

#Define hyperparameter for tuning
param_grid = {
    'n_estimators': [100, 200, 300],
    'max_features': ['auto', 'sqrt', 'log2'],
    'max_depth': [None, 10, 20, 30],
    'min_samples_split': [2, 5, 10],
    'min_samples_leaf': [1, 2, 4],
    'bootstrap': [True, False]
}


#perform GridSearchCV
grid_search_rf = GridSearchCV(rf_model, param_grid, cv=5)
grid_search_rf.fit(X_train,Y_train)

#print the best hyperparameter
best_hyperparameters = grid_search_rf.best_params_
print("Best Hyperparameters (Random Forest):",best_hyperparameters)

#Evaluation the model
from sklearn.metrics import accuracy_score

train_accuracy = accuracy_score(Y_train,grid_search_rf.predict(X_train))
train_test = accuracy_score(Y_test,grid_search_rf.predict(X_test))

print("Random forest Classifier:")
print("Training accuracy:",train_accuracy)
print("Testing accuracy:",test_accuracy)

Support Vector classification

In [223]:
from  sklearn.svm import SVC

#define the model
svm_model = SVC()

#define hyperparameter for tuning
param_grid = {
    'C' : [0.1, 1, 10],
    'kernal':['linear','rbf'],
}

#performance GridsearchCV
grid_search_svm = GridSearchCV(svm_model,param_grid,cv=5)
grid_search_svm.fit(X_train,Y_train)

#print the best hyperparameters
best_hyperparameters = grid_search_rf.best_params_
print("Best Hyperparameters(SVM):",best_hyperparameters)

ValueError: Invalid parameter 'kernal' for estimator SVC(C=0.1). Valid parameters are: ['C', 'break_ties', 'cache_size', 'class_weight', 'coef0', 'decision_function_shape', 'degree', 'gamma', 'kernel', 'max_iter', 'probability', 'random_state', 'shrinking', 'tol', 'verbose'].

Evaluate the model

In [213]:
train_accuracy = accuracy_score(Y_train,grid_search_svm.predict(X_train))
test_accuracy = accuracy_score(Y_test,grid_search_svm.predict(X_test))

print("SVM Classifier:")
print("Training Accuracy:",train_accuracy)
print("Test Accuracy:",test_accuracy)

NameError: name 'grid_search_svm' is not defined

3.Naive Bayes

In [215]:
from sklearn.naive_bayes import GaussianNB

#Define the model
nb_model = GaussianNB()

#No hyperparameters to tune for Gaussian Naive Bayes

#Fit the model
nb_model.fit(X_train,Y_train)

#Evaluate the model
train_accuracy = accuracy_score(Y_train,nb_model.predict(X_train))
test_accuracy = accuracy_score(Y_test,nb_model.predict(X_test))

print("Naive Bayes Classifier:")
print("Testing Accuracy:",test_accuracy)
print("Training Accuracy:",train_accuracy)

Naive Bayes Classifier:
Testing Accuracy: 0.6754517049313952
Training Accuracy: 0.6712407866580619

4.Gradient Boosting Classifier

In [217]:
from sklearn.ensemble import GradientBoostingClassifer

#Define hperparameter for turning
param_grid = {
    'n_estimators': [100, 200, 300],
    'max_features': ['auto', 'sqrt', 'log2'],
    'max_depth': [None, 10, 20, 30],
    'min_samples_split': [2, 5, 10],
    'min_samples_leaf': [1, 2, 4],
    'bootstrap': [True, False]
}

#Perform GridSearchCV
grid_search_gb = GridSearchCV(gv_model, param_grid, cv=5)
grid_search_gb.fit(X_train,Y_train)

#Print the best hyperparameters
best_hyperparameters = grid_search_gb.best_params_
print("Best Hyperparameters GradientBoostingClassifier:",best_hyperparameters)

#Evaluate the model
train_accuracy = accuracy_score(Y_train,grid_search_gb.predict(X_train))
test_accuracy = accuracy_score(Y_test,grid_search_gb.predict(X_test))

print("Gradient Boosting Classifier:")
print("Training Accuracy:",train_accuracy)
print("Testing Accuracy:",test_accuracy)

ImportError: cannot import name 'GradientBoostingClassifer' from 'sklearn.ensemble' (D:\Anaconda\Lib\site-packages\sklearn\ensemble\__init__.py)

#### 5.Decision Tree Classifier

In [80]:

from sklearn.tree import Decision TreeClassifier, plot_tree 
from sklearn.model_selection import GridSearchCV

# Define the model
dt_model = DecisionTreeClassifier()

# Define hyperparameters for tuning 
param_grid = {
    'criterion': ['gini', 'entropy'], 
    'max_depth': [None, 10, 20, 30],
    'min_samples_split': [2, 5, 10], 
    'min_samples_leaf': [1, 2, 4]
}

# Perform GridSearchCV
grid_search_dc = GridSearchCV(dt_model, param_grid, cv=5) 
grid_search_dc.fit(X_train, Y_train)

# Print the best hyperparameters
best_hyperparameters = grid_search_dc.best_params_
print("Best Hyperparameters (Decision Tree):",best_hyperparameters)

# Get the best model
best_dt_model = grid_search_dc.best_estimator_

# Evaluate the model
train_accuracy = accuracy_score (Y_train, best_dt_model.predict(X_train)) 
test_accuracy = accuracy_score (Y_test, best_dt_model.predict(X_test))

print("Decision Tree Classifier:")
print("Training Accuracy:", train_accuracy)
print("Testing Accuracy:", test_accuracy)

SyntaxError: invalid syntax (2648214229.py, line 1)

In [ ]:
#### 8.Model Evalution(Cofusion Matrix & Classification Report)

In [221]:
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.metrics import confusion_matrix, classification_report
from sklearn.preprocessing import StandardScaler

# Standardize features
scaler StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

# Define a list of models
models = [
    ("Random Forest", grid_search_rf),
    ("SVM", grid_search_svm),
    ("Naive Bayes", nb_model),
    ("Gradient Boosting", grid_search_gb), 
    ("Decision Tree", grid_search_dc),]

#Loop through each model
for model_name, model in models:
    #Get model predictions
    predictions = model.predict(X_test)

SyntaxError: invalid syntax (2635420308.py, line 7)

In [219]:
# Calculate confusion matrix
cm = confusion_matrix(y_test, predictions)

# Create a confusion matrix heatmap
plt.figure(figsize=(8, 6))
sns.set(font_scale=1.2) # Adjust font size
sns.heatmap(cm, annot=True, fmt='d', cmap='Blues', cbar=False, 
            annot_kws={"size": 16}, square=True,
            xticklabels=['Predicted Negative', 'Predicted Positive'], 
            yticklabels=['Actual Negative', 'Actual Positive'])

plt.xlabel("Predicted")
plt.ylabel("Actual")
plt.title(f"Confusion Matrix - (model_name}") 
plt.show()

# Display classification report
print (f"Classification Report - {model_name}:\n") 
print(classification_report(y_test, predictions))

SyntaxError: f-string: single '}' is not allowed (95892665.py, line 14)